body {
    font-family: 'Outfit', serif;
    font-weight: 400;
}


div.main {
    width: 100%;
    height: 100vh;
    background-color: #0D1A2D;
    display: grid;
    place-items: center;
}

.card {
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding: 25px 25px 25px 25px;
    background-color: #15273F;
}

#imgequilibrium {
    border-radius: 15px;
}

.equilibriumNumber {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.equilDescription {
    font-size: large;
}

.worth-daysLeft {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.ether {
    color: #28CBCA;
}

.debug {
    border: 1px solid white;
}

.valign {
    display: flex;
    align-items: center;
}

.daysLeft {
    justify-content: end;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
}

.divider {
    border-top: 1px solid #bbb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.creator {
    margin-top: 15px;
}